<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow navbar-dark bd-navbar">
        <div class="container">
            <button class="navbar-toggler text-dark" type="button" (click)="isCollapsed = !isCollapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                  </svg>
                </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngbCollapse]="isCollapsed">

                <app-menu-login></app-menu-login>

                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item menu-item">
                        <a class="nav-link " [routerLink]="['/home']">Home</a>
                    </li>
                    <li class="nav-item menu-item">
                        <a class="nav-link " [routerLink]="['/restaurantes/listar-todos']">Restaurantes</a>
                    </li>
                    <li class=" nav-item menu-item">
                        <a class="nav-link  " [routerLink]="['/receitas/listar-todos']">Receitas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
