<header class="section-header py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-10">
                <h1 class="display-5 text-dark-01 mt-5 mb-2">Projeto Master Chef</h1>
                <p class="lead mb-5 text-dark-02">MBA FIAP - Desenvolvimento WEB</p>
            </div>
        </div>
    </div>
</header>

<div class="container main-container">
    <div class="restaurantes" *ngFor="let restaurante of restaurantes">
        <h3 class="restaurante-name">{{restaurante.nome}}</h3>
        <p class="restaurante-category">{{restaurante.categoria}}</p> 
    <div class="row text-center" >
        <div class="col-lg-3 col-md-6 mb-4" *ngFor="let receita of restaurante.receitas">
            <div class="card recipe">
                <a href="{{'receita/detalhes' + receita.id}}" target="_blank">
                    <img class="card-img-top" src={{receita.imagem}} height="164px" width="253px" alt="">
                    <div class="expand">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                          </svg>  
                    </div>
                <div class="card-body">
                    <p class="card-text">{{receita.descricao}}</p>
                </div>
                </a>
            </div>
        </div>
    </div>
    </div>
</div>

