a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.main-container {
    padding-top: 25px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}


/* Sticky footer styles
  -------------------------------------------------- */

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


/* Sticky footer styles
  -------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    /* Vertically center the text there */
}

input,
select,
file,
textarea {
    max-width: 400px;
}

.form-text{
    padding: 6px;
    width: 100%;
    max-width: none;
    border: none;
    border-bottom: 1px  solid #de9f78 ;
    color: #de9f78;
    transition: ease-in-out .4s;
}

.form-text:focus{
    outline: none;
    border-bottom: 2px  solid #aa795b ;
}


.form-text-area{
    padding: 6px;
    width: 100%;
    max-width: none;
    border: 1px  solid #de9f78 ;
    color: #de9f78;
    transition: ease-in-out .4s;
}

.form-text-area:focus{
    outline: none;
    border: 2px  solid #aa795b ;
}

.btn-padrao{
    display: block;
    position: inherit;
    border: 2px solid #de9f78;
    color: #de9f78;
    padding: 6px;
    width: 100px;
    text-align: center;
    transition: ease-in .3s;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-padrao:hover{
    background-color: #de9f78;
    color: white;
}

.btn-padrao:focus{
    outline: none;
}

.btn-back{
    display: block;
    position: inherit;
    border: 2px solid #3d3d3d;
    color: #3d3d3d;
    padding: 6px;
    width: 100px;
    text-align: center;
    transition: ease-in .3s;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-back:hover{
    background-color: #3d3d3d;
    color: white;
}

.btn-back:focus{
    outline: none;
}


.erro-message{
    width: 100%;
    background-color: rgba(255, 212, 212, 0.178);
    font-size: 13px;
    color:rgb(0, 0, 0);
    margin-bottom: 30px;
    padding: 10px;
}


.erro-message ul{
    list-style-type: none;
    text-align: center;
    }